* {
  margin: 0;
  padding: 0;
}
#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#app .head-box {
  position: relative;
}
#app .head-box .head-title {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin-top: 1rem;
  box-sizing: border-box;
}
#app .head-box .head-title .head-title-item {
  color: #45aafa;
  font-size: 1.2rem;
  font-weight: 700;
}
#app .head-box .head-title .head-title-item:first-child {
  transform: rotate(40deg);
}
#app .head-box .head-title .head-title-item:nth-child(2) {
  transform: rotate(-20deg) translateY(0.8rem);
}
#app .head-box .head-title .head-title-item:nth-child(3) {
  transform: rotate(30deg) translateY(-0.1rem);
}
#app .head-box .head-title .head-title-item:nth-child(4) {
  transform: rotate(-10deg) translateY(0.8rem);
}
#app .head-box .head-title .head-title-item:nth-child(5) {
  transform: rotate(20deg);
}
#app .head-box .head-title .head-title-item:nth-child(6) {
  transform: rotate(-10deg) translateY(0.8rem);
}
#app .main-box {
  position: relative;
  flex: 1;
}
#app .main-box .main-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.35);
  box-shadow: inset 0px 0px 10px 2px rgba(255, 0, 0, 0.35);
}
#app .main-box .main-content {
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
#app .main-box .main-content .tab-list {
  display: flex;
  border-radius: 1.5rem;
  overflow: hidden;
  width: 80vw;
  margin: 1rem auto;
}
#app .main-box .main-content .tab-list .tab-item {
  flex: 1;
  height: 3rem;
  line-height: 3rem;
  border-right: 1px solid #fff;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
}
#app .main-box .main-content .tab-list .tab-item:hover {
  background-color: #ffe400;
}
#app .main-box .main-content .tab-list .tab-item.active {
  background-color: #ffe400;
  color: #222;
}
#app .main-box .main-content .display-item {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
}
#app .main-box .main-content .btn-start {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #45AB7F;
  padding: 0 50px;
  line-height: 50px;
  color: #222;
  margin: 0 auto;
  color: #fff;
}
#app .main-box .main-content .btn-start.active {
  color: #fff;
  background-color: #ff4a4a;
}
#app .bottom-img {
  width: 100%;
}
