* {
  margin: 0;
  padding: 0;
}

body {
  // background-color: #4688f4;
  height: 100%;
  background: url(./../../assets/images/timg.gif);
}

#app {
  position: absolute;width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  text-align: center;

  .tab-list {
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    width: 80vw;
    margin: 0 auto;

    .tab-item {
      flex: 1;
      height: 3rem;
      line-height: 3rem;
      border-right: 1px solid #eff0f5;
      font-size: 1rem;
      background-color: #eff0f5;

      &:hover {
        background-color: #ffe400;
      }

      &.active {
        background-color: #ffe400;
      }
    }
  }
  .display-item {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #ff4a4a;
  }
  .btn-start {
    width: 200px;
    height: 50px;
    margin: 3rem auto 0;
    border-radius: 25px;
    background-color: #ffe400;
    padding: 0 50px;
    line-height: 50px;
    color: #222;
    &.active {
      color: #fff;
      background-color: #ff4a4a;
    }
  }
}