* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4688f4;
}

#app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #4688f4;
  text-align: center;

  .tab {
    display: flex;
    border-radius: 1rem;
    overflow: hidden;

    .tab-item {
      flex: 1;
      height: 2rem;
      line-height: 2rem;
      border-right: 1px solid #eff0f5;
      font-size: 0.8rem;
      background-color: #fff;

      &.active {
        background-color: #ffe400;
      }
    }
  }
  .display-item {
    margin-top: 4rem;
  }
  .btn-start {
    width: 200px;
    height: 50px;
    margin-top: 4rem;
    border-radius: 25px;
    background-color: #ffe400;
    padding: 0 50px;
    line-height: 50px;
    color: #222;
    &.active {
      color: #fff;
      background-color: #ff4a4a;
    }
  }
}